# kdiff3 ignore
*.orig

# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz

# pods ignore
Pods/

*.lib
*.dll
*.exe
*.user
*.exp
*.ilk
*.pdb
*.sdf
*.suo
*.opensdf
*.stash
*.xml
*.DS_Store
Makefile*

/*/GeneratedFiles/*
/Debug/*
/Release/*
/debug/*
/release/*
/*/Debug/*
/*/Release/*
/*/debug/*
/*/release/*
/.vs/*
/*/x64/*
/*/x86/*
/*/Win32/*
/vsproject/*
/TestApp/*
.idea

cmake-build*